<header class="site-header">
    <div class="text-container">
        {% if not is_front_page and not is_single %}
            <span class="pill-tag">{{ post.title }}</span>
        {% endif %}

        {% if not is_single %}
            <h1 class="hero-title">{{ post.header_title }}</h1>
        {% else %}
            <h1 class="header-title">{{ post.title }}</h1>
        {% endif %}

        {% if post.header_text %}
            <p class="header-text">{{ post.header_text }}</p>
        {% endif %}

        {% if post.header_button.title %}
            <a class="primary-button--blue" href="{{ post.header_button.url }}">
                {{ post.header_button.title }}
                <span class="right-arrow">{% include 'assets/media/right-arrow-icon.svg' %}</span>
            </a>
        {% endif %}
    </div>

    {% if not is_front_page %}
        {% if is_single and post.thumbnail.src %}
            <img class="post-image" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" />
        {% elseif not is_single and post.header_image.url %}
            {% if post.header_image_size == 'normal' %}
                <img class="image" src="{{ post.header_image.url }}" alt="{{ post.header_image.alt }}" />
            {% else %}
                <div class="image--small" style="background-image: url('{{ post.header_image.url }}');"></div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="video-container">
            <video class="player" controls>
                <source src="{{ post.header_video }}" type="video/mp4">
            </video>
        </div>
    {% endif %}
</header>
