<nav class="mega-menu" aria-label="Main site navigation">
    <div class="mega-menu__container">
        {% for menu in options.primary_nav_menu %}
            <div
                class="mega-menu__wrapper"
                data-aos="fade-right"
                data-aos-offset="20"
            >
                <p class="menu-header">{{ menu.menu_header }}</p>

                {% for link in menu.menu_links %}
                    <a class="link-item underline" href="{{ link.link_item.url }}">{{ link.link_item.title }}</a>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="mega-menu__right-panel" data-aos="fade-right" data-aos-offset="20">
            {% for featured in nav_case_studies %}
                <a class="panel-link" href="{{ featured.link }}">
                    <img src="{{ featured.thumbnail.src }}" alt="{{ featured.thumbnail.alt }}" />
                    <div>
                        <p class="h6">{{ featured.menu_title }}</p>
                        <p class="panel-text">{{ featured.preview|slice(0, 50) ~ ' ...' }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div> {# /.mega-menu__container #}
</nav>

<section class="external-sites-bar">
    <div class="site-bar-container">
        <div class="site-bar-wrap">
            <p>More from The Round Table</p>

            <a
                class="external-link underline"
                href="https://sanskarsavvy.com"
                target="_blank"
                rel="noopener"
            >
                Sanskar Savvy
                <span>{% include 'assets/media/external-link-icon.svg' %}</span>
            </a>

            <a
                class="external-link underline"
                href="https://kashpatelproductions.com"
                target="_blank"
                rel="noopener"
            >
                Kash Patel Productions
                <span>{% include 'assets/media/external-link-icon.svg' %}</span>
            </a>
        </div>
    </div>
</section>
