{% extends 'base.twig' %}

{% block content %}
    <section class="career-listing">
        {% for career in careers %}
            <a class="career-listing__card" href="{{ career.link }}">
                <div>
                    <h4>{{ career.title }}</h4>

                    <div class="career-terms-container">
                        {% for type in career.terms('career-tax') %}
                            <p class="term-name">{{ type.name }}</p>
                        {% endfor %}
                    </div>
                </div>

                <p class="primary-button--blue">
                    Apply
                    <span class="right-arrow">{% include 'assets/media/right-arrow-icon.svg' %}</span>
                </p>
            </a>
        {% endfor %}

        <div class="eeo-statement">
            <p>{{ post.eeo_statement }}</p>
        </div>
    </section>

    {{ post.content }}
{% endblock %}
