{% extends 'base.twig' %}

{% block content %}
    <div class="post-grid">
        {% for event in events %}
            <a class="post-grid__grid-item" href="{{ event.link }}">
                <div class="image" style="background-image: url('{{ event.thumbnail.src }}');"></div>
                <time>{{ event.date|date('F j, Y') }}</time>
                <h4>{{ event.title }}</h4>
            </a>
        {% endfor %}
    </div>
    {{ post.content }}
{% endblock %}
