{% extends 'base.twig' %}

{% block content %}
    {% for type in news_tax %}
        <h2 class="no-clip-header">{{ type.name }}</h2>

        <div class="post-grid">
            {% for article in type.posts %}
                <a class="post-grid__grid-item" href="{{ article.link }}">
                    <div class="image" style="background-image: url('{{ article.thumbnail.src }}');"></div>
                    <time>{{ article.date|date('F j, Y') }}</time>
                    <h4>{{ article.title }}</h4>
                </a>
            {% endfor %}
        </div>
    {% endfor %}

    {{ post.content }}
{% endblock %}
