<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if post.seo_description %}
            <meta name="description" content="{{ post.seo_description }}" />
        {% else %}
            <meta name="description" content="{{ options.seo_description }}" />
        {% endif %}

		<title>{{ site.name }} | {{ post.title }}</title>

		{{ fn('wp_head') }}

        {# Open Graph Data #}
        {% if post.seo_title %}
            <meta property="og:title" content="{{ post.seo_title }}">
        {% else %}
            <meta property="og:title" content="{{ post.title }}">
        {% endif %}

        {% if post.seo_image %}
            <meta property="og:image" content="{{ post.seo_image.url }}">
        {% else %}
            <meta property="og:image" content="{{ post.thumbnail.src }}">
        {% endif %}

        <meta property="og:description" content="{{ options.seo_description }}">
        <meta property="og:locale" content="en_US.utf-8">
        <meta property="og:url" content="{{ post.link }}">
        <meta property="og:type" content="website">

        {# News links may appear on multiple pages #}
        {% if fn('is_singular', 'news') %}
			<link rel="canonical" href="{{ post.link }}">
		{% endif %}

        {# Sitemap #}
        <link rel="sitemap" type="application/xml" href="/wp-sitemap.xml" />

        {# Google Fonts #}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;700;900&display=swap" />
	</head>

    {#
        https://support.google.com/news/publisher-center/answer/9606800?sjid=13891664182919420624-NC
    #}

	<body data-template="base.twig" class="{{ body_class }}">
        {% if options.enable_banner %}
            <section class="notice-wrap ">
                <div class="notice-banner" role="dialog" aria-label="Notice">
                    <p>{{ options.banner_text }}</p>
                    <button id="close" class="close-notice" aria-label="Close">&times;</button>
                </div>
            </section>
		{% endif %}

        {% include 'partials/navigation.twig' %}
        {% include 'partials/header.twig' %}

        <section class="main-post-wrapper" role="main" aria-label="Main page content">
            {% block content %}{% endblock %}
        </section>

        {% include 'partials/footer.twig' %}
        {% include 'external-scripts.twig' %}
		{{ fn('wp_footer') }}
	</body>
</html>
