{% extends 'base.twig' %}

{% block content %}
    <section class="split-view-wrapper">
        <div class="career-reqs">
            {{ post.content }}
        </div>

        <aside class="career-summary">
            <div class="career-summary__item">
                <span class="icon">{% include 'assets/media/white/calendar-icon-white.svg' %}</span>
                <div>
                    <p class="icon-title">
                        Date Posted<br/>
                        <time>{{ post.date }}</time>
                    </p>
                </div>
            </div>

            <div class="career-summary__item">
                <span class="icon">{% include 'assets/media/white/location-icon-white.svg' %}</span>
                <div>
                    <p class="icon-title">
                        Location<br/>
                        <span>{{ post.location }}</span>
                    </p>
                </div>
            </div>

            <div class="career-summary__item">
                <span class="icon">{% include 'assets/media/white/time-icon-white.svg' %}</span>
                <div>
                    <p class="icon-title">
                        Hours<br/>
                        <time>{{ post.hours }}</time>
                    </p>
                </div>
            </div>

            <div class="career-summary__item">
                <span class="icon">{% include 'assets/media/white/experience-icon-white.svg' %}</span>
                <div>
                    <p class="icon-title">
                        Experience<br/>
                        <span>{{ post.experience }}</span>
                    </p>
                </div>
            </div>

            <div class="career-summary__item">
                <span class="icon">{% include 'assets/media/white/sword-icon-white.svg' %}</span>
                <div>
                    <p class="icon-title">
                        Job Type<br/>
                        <span>{{ post.job_type|capitalize }}</span>
                    </p>
                </div>
            </div>

            <div class="career-summary__item">
                <span class="icon">{% include 'assets/media/white/open-positions-icon-white.svg' %}</span>
                <div>
                    <p class="icon-title">
                        Open Positions<br/>
                        <span>{{ post.open_positions }}</span>
                    </p>
                </div>
            </div>

            <div class="career-summary__item">
                <span class="icon">{% include 'assets/media/white/pay-icon-white.svg' %}</span>
                <div>
                    <p class="icon-title">
                        Compensation<br/>
                        {% if not post.experience_based_pay %}
                            <span>{{ post.pay }}</span>
                        {% else %}
                            <span>Dependent on experience</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </aside>
    </section>
{% endblock %}
