{% extends 'base.twig' %}

{% block content %}
    <article class="post-layout">
        <div class="post-layout__author">
            <div class="author-info">
                <img src="{{ post.author.avatar }}" alt="{{ post.author.name }}" />

                <div>
                    <h5>{{ post.author.name }}</h5>
                    <time>{{ post.date|date('F j, Y') }}</time>
                </div>
            </div>

            <div class="social-share-links">
                <h5>Share this post on:</h5>
                {{ fn('do_action', 'trt_post_intro') }}
            </div>
        </div>

        {{ post.content }}
    </article>
{% endblock %}
