{% extends 'base.twig' %}

{% block content %}
    <article class="post-layout">
        <div class="post-layout__author">
            <div class="author-info">
                <img src="{{ post.author.avatar }}" alt="{{ post.author.name }}" />

                <div>
                    <h5>{{ post.author.name }}</h5>
                    <time>{{ post.date|date('F j, Y') }}</time>
                </div>
            </div>

            <div class="social-share-links">
                <h5>Share this post on:</h5>
                {{ fn('do_action', 'trt_post_intro') }}
            </div>
        </div>

        {{ post.content }}

        <div class="next-previous-posts">
            {% if post.prev %}
                <a class="post-nav" href="{{ post.prev.link }}">
                    <p><span class="prev-arrow">{% include 'assets/media/right-arrow-white.svg' %}</span> Previous</p>
                    <h5>{{ post.prev.title }}</h5>
                </a>
            {% endif %}

            {% if post.next %}
                <a class="post-nav" href="{{ post.next.link }}">
                    <p>Next <span class="next-arrow">{% include 'assets/media/right-arrow-white.svg' %}</span></p>
                    <h5>{{ post.next.title }}</h5>
                </a>
            {% endif %}
        </div>
    </article>

    <h3 class="short-width-header">More From The Round Table</h3>
    <section class="post-grid">
        {% for article in news %}
            <a class="post-grid__grid-item" href="{{ article.link }}">
                <div class="image" style="background-image: url('{{ article.thumbnail.src }}');"></div>
                <time>{{ article.date|date('F j, Y') }}</time>
                <h4>{{ article.title }}</h4>
            </a>
        {% endfor %}
    </section>

    <section class="call-to-action block-margin--no-bottom">
        <div class="call-to-action__content">
            <h2 class="title">{{ options.cta_title }}</h2>
            <p class="message">{{ options.cta_message }}</p>
            <a class="primary-button--white" href="{{ options.cta_link.url }}">
                {{ options.cta_link.title }}
                <span class="right-arrow">{% include 'assets/media/right-arrow-icon.svg' %}</span>
            </a>
        </div>
    </section>
{% endblock %}
