{% extends 'base.twig' %}

{% block content %}
    <div class="stat-counter">
        {% for stat in post.stats %}
            <div class="stat-counter__stat">
                {# custom buildable stat counter shortcode. Uses CountUp.js #}
                {{ fn(
                    'do_shortcode',
                    '[countup
                        start="' ~ stat.start_value ~ '"
                        end="' ~ stat.end_value ~ '"
                        suffix="' ~ stat.suffix ~ '"
                        duration="3"
                        decimals="' ~ stat.decimals ~ '"
                        easing="true"
                        scroll="true"
                    ]'
                ) }}

                <p class="stat-subtext">{{ stat.stat_text }}</p>
            </div>
        {% endfor %}
    </div>

    <article class="post-layout">
        {{ post.content }}

        <div class="next-previous-posts">
            {% if post.prev %}
                <a class="post-nav" href="{{ post.prev.link }}">
                    <p><span class="prev-arrow">{% include 'assets/media/white/right-arrow-white.svg' %}</span> Previous</p>
                    <h5>{{ post.prev.title }}</h5>
                </a>
            {% endif %}

            {% if post.next %}
                <a class="post-nav" href="{{ post.next.link }}">
                    <p>Next <span class="next-arrow">{% include 'assets/media/white/right-arrow-white.svg' %}</span></p>
                    <h5>{{ post.next.title }}</h5>
                </a>
            {% endif %}
        </div>
    </article>
{% endblock %}
